body {
  max-width: 400px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #EEE;
}

h1 {
  margin: 3rem 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 300;
}

p {
  margin: 1.385rem;
  font-size: small;
  opacity: 0.3;
}

.box, .six, .five, .four, .three, .two, .one {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 25%;
  cursor: pointer;
  transition: z-index 0ms 200ms, box-shadow 200ms ease, transform 200ms ease;
}
.box:hover, .six:hover, .five:hover, .four:hover, .three:hover, .two:hover, .one:hover {
  z-index: 1;
  transition: z-index 0ms 0ms, box-shadow 200ms ease, transform 200ms ease;
}
.box:active, .six:active, .five:active, .four:active, .three:active, .two:active, .one:active {
  transition-duration: 100ms;
}

.one {
  background: #3B5998;
  transform: translateY(-1.5px) scale(1.01);
  box-shadow: 0px 0.375px 2.25px 0.75px rgba(32, 40, 57, 0.425), 0px 0.375px 1.125px 0.15px rgba(0, 0, 0, 0.325);
}
.one:hover {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0px 3.75px 22.5px 7.5px rgba(32, 40, 57, 0.2), 0px 3.75px 11.25px 1.5px rgba(0, 0, 0, 0.1);
}
.one:active {
  transform: translateY(-7.5px) scale(1.05);
  box-shadow: 0px 1.875px 11.25px 3.75px rgba(32, 40, 57, 0.325), 0px 1.875px 5.625px 0.75px rgba(0, 0, 0, 0.225);
}

.two {
  background: #F23434;
  transform: translateY(-1.5px) scale(1.01);
  box-shadow: 0px 0.375px 2.25px 0.75px rgba(114, 16, 16, 0.425), 0px 0.375px 1.125px 0.15px rgba(0, 0, 0, 0.325);
}
.two:hover {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0px 3.75px 22.5px 7.5px rgba(114, 16, 16, 0.2), 0px 3.75px 11.25px 1.5px rgba(0, 0, 0, 0.1);
}
.two:active {
  transform: translateY(-7.5px) scale(1.05);
  box-shadow: 0px 1.875px 11.25px 3.75px rgba(114, 16, 16, 0.325), 0px 1.875px 5.625px 0.75px rgba(0, 0, 0, 0.225);
}

.three {
  background: #2CAAE1;
  transform: translateY(-1.5px) scale(1.01);
  box-shadow: 0px 0.375px 2.25px 0.75px rgba(20, 74, 98, 0.425), 0px 0.375px 1.125px 0.15px rgba(0, 0, 0, 0.325);
}
.three:hover {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0px 3.75px 22.5px 7.5px rgba(20, 74, 98, 0.2), 0px 3.75px 11.25px 1.5px rgba(0, 0, 0, 0.1);
}
.three:active {
  transform: translateY(-7.5px) scale(1.05);
  box-shadow: 0px 1.875px 11.25px 3.75px rgba(20, 74, 98, 0.325), 0px 1.875px 5.625px 0.75px rgba(0, 0, 0, 0.225);
}

.four {
  background: #F46899;
  transform: translateY(-1.5px) scale(1.01);
  box-shadow: 0px 0.375px 2.25px 0.75px rgba(135, 22, 62, 0.425), 0px 0.375px 1.125px 0.15px rgba(0, 0, 0, 0.325);
}
.four:hover {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0px 3.75px 22.5px 7.5px rgba(135, 22, 62, 0.2), 0px 3.75px 11.25px 1.5px rgba(0, 0, 0, 0.1);
}
.four:active {
  transform: translateY(-7.5px) scale(1.05);
  box-shadow: 0px 1.875px 11.25px 3.75px rgba(135, 22, 62, 0.325), 0px 1.875px 5.625px 0.75px rgba(0, 0, 0, 0.225);
}

.five {
  background: #85C53D;
  transform: translateY(-1.5px) scale(1.01);
  box-shadow: 0px 0.375px 2.25px 0.75px rgba(58, 84, 29, 0.425), 0px 0.375px 1.125px 0.15px rgba(0, 0, 0, 0.325);
}
.five:hover {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0px 3.75px 22.5px 7.5px rgba(58, 84, 29, 0.2), 0px 3.75px 11.25px 1.5px rgba(0, 0, 0, 0.1);
}
.five:active {
  transform: translateY(-7.5px) scale(1.05);
  box-shadow: 0px 1.875px 11.25px 3.75px rgba(58, 84, 29, 0.325), 0px 1.875px 5.625px 0.75px rgba(0, 0, 0, 0.225);
}

.six {
  background: #F6A32B;
  transform: translateY(-1.5px) scale(1.01);
  box-shadow: 0px 0.375px 2.25px 0.75px rgba(115, 74, 13, 0.425), 0px 0.375px 1.125px 0.15px rgba(0, 0, 0, 0.325);
}
.six:hover {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0px 3.75px 22.5px 7.5px rgba(115, 74, 13, 0.2), 0px 3.75px 11.25px 1.5px rgba(0, 0, 0, 0.1);
}
.six:active {
  transform: translateY(-7.5px) scale(1.05);
  box-shadow: 0px 1.875px 11.25px 3.75px rgba(115, 74, 13, 0.325), 0px 1.875px 5.625px 0.75px rgba(0, 0, 0, 0.225);
}