body {
  padding: 0em 0em;
  background-color: #383838;

  
  overflow-x: hidden;
  overflow-y: hidden;
}

iframe {
  display: block;
  width: 100%;
  border: 0px solid #383838;
  
  
    height: auto;
  overflow: auto
  
}
