body {
  padding: 0em 0em;
  background-color: #F8F9FA;

  
  overflow-x: hidden;
  overflow-y: hidden;
}

iframe {
  display: block;
  width: 100%;
  border: 0px solid #00A5DF;
  
  
    height: auto;
  overflow: auto
  
}
